* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resource-tracker {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.quantity {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    width: 100px;
    height: 30px;
}

.resource-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.depot-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.depot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

